/* https://coolors.co/e8e8e8-bfbfbf-96939b-564256-fc814a */

:root {
    --primary-color: #fc814a;
    --secondary-color: #564256;
    --accent-color: #96939b;
    --text-color: #bfbfbf;
    --accent2-color: #e8e8e8;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: var(--accent2-color);
    margin: 20px;
}  

header span{
    display: block;
    /* background-color: #a2999e; */
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 900;
}

/* small view navigation */
#menu {
	font-size: 2rem;
	border: 0;
	background: none;
	color: var(--accent2-color);
	position: absolute;
	top: 3rem;
	right: 2rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
    
}
.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
    color: var(--accent2-color);
    font-size: larger;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}
.active::before { 
	content: "📍";  /* just a wayfinding symbol for the user */
}
h1{
    text-align: center;
    color: var(--secondary-color);
}

/* nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
} */

a:hover{
    cursor: pointer;
    color: red;
}

main { 
    /* max-width: 800px; */
    margin: 0;
    display: grid;
}

#temple-cards {
    
    margin: 10px;
    /* padding: 10px; */
    text-align: center;
}
#temple-cards img {
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.5);
    height: auto;
    animation: fade 5s;
    background-color: #000;

}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#temple-cards section {
        background-color: var(--text-color);
        padding: 10px;
        border: 4px solid rgba(0, 0, 0, 0.1);
    }


header, footer{
    background-color: var(--secondary-color);
    margin: 5px;
    padding: 0.5rem;
    color: #fff;
    
}
footer p{
    text-align: center;
    justify-content: space-around;
    
}

