/* large view navigation ************************************/
@media (min-width: 32em) {

    header{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-gap: 10px;
    }
    span{
        grid-column: 1/2;
    }
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
        grid-column: 1/4;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}
    nav{
        grid-column: 3/4;
    }

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: flex;
		flex: 1 1 100%;
        font-size: 1.5rem;
   
	}

	main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
    }
    
    figure img {
    border-radius: 10px;
    }
}
